.jumbotron {
    margin: 0 auto;
    float: none;
    height: auto;
    max-width: 500px;
}

.img-fluid {
    width: 25%;
    max-width: 100%;
    margin: 20px 5px;
}

.container-bgr{
    background-image: url(../../utils/Backgroundpic.JPG);
    background-size: cover;
}